@model AptidudeTest.Models.Question

@{
	ViewData["Title"] = "Edit";
	IEnumerable<Choice> choices = ViewData["Choice"] as IEnumerable<Choice>;
	char c = 'A';
}


<h1>Edit Question</h1>
<div>

	<a class="btn btn-warning" asp-action="Index">Back to List</a>
</div>
<hr />
<div class="row">
	<div class="col-md-6">
		<form asp-action="Edit">
			<div asp-validation-summary="ModelOnly" class="text-danger"></div>
			<input type="hidden" asp-for="Id" />
			<div class="form-group">
				@*<label asp-for="Image" class="control-label"></label>*@
				<input type="hidden" asp-for="Image" value=" " class="form-control" />
				<span asp-validation-for="Image" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="Text" class="control-label"></label>
				<textarea asp-for="Text" class="form-control" rows="3"></textarea>
				<span asp-validation-for="Text" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="Point" class="control-label"></label>
				<input asp-for="Point" class="form-control" />
				<span asp-validation-for="Point" class="text-danger"></span>
			</div>
			<div class="form-group">
				<input asp-for="ExamId" type="hidden" class="form-control" value="@ViewData["ExamId"]" />
				<span asp-validation-for="ExamId" class="text-danger"></span>
			</div>
			<br />
			<div class="form-group">
				<input type="submit" value="Save" class="btn btn-primary" />
			</div>
		</form>
	</div>
	<table class="table">
		<thead>
			<tr>
				<th>
					#
				</th>
				<th>
					Content
				</th>
				<th>
					Is Correct
				</th>

				<th></th>
			</tr>
		</thead>
		<tbody>
			@foreach (var item in choices)
			{
				<tr>
					<td>@c</td>
					<td>@item.Text</td>
					<td>
						@if (@item.IsCorrect)
						{
							<a class="btn btn-success">True</a>
						}
						else
						{
							<a class="btn btn-secondary">False</a>
						}
					</td>

				</tr>
				c++;
			}
		</tbody>
	</table>
</div>




@section Scripts {
    @{
	await Html.RenderPartialAsync("_ValidationScriptsPartial");
}
}
