@model AptidudeTest.Models.Exam

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit Part</h1>
<div>
    <a class="btn btn-warning"asp-action="Index">Back to List</a>
</div>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="ExamName" class="control-label"></label>
                <input asp-for="ExamName" class="form-control" />
                <span asp-validation-for="ExamName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PassScore" class="control-label"></label>
                <input asp-for="PassScore" class="form-control" />
                <span asp-validation-for="PassScore" class="text-danger"></span>
            </div>
               <div class="form-group">
                <label asp-for="Time" class="control-label">Duration (min)</label>
                <input asp-for="Time" class="form-control" />
                <span asp-validation-for="Time" class="text-danger"></span>
            </div>
            @*<div class="form-group">
                <label asp-for="Status" class="control-label"></label>
                <input asp-for="Status" class="form-control" />
                <span asp-validation-for="Status" class="text-danger"></span>
            </div>*@
            <br />
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
